* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  scroll-behavior: smooth !important;
}

/* ------------header----------- */
.bg_header {
  background-image: url('./assets/images/png/HERO.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.mw_logo {
  max-width: 190px !important;
}

.cur_pointer {
  cursor: pointer !important;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn_common {
  border-radius: 60px;
  background: #fff;
  padding: 15px 38px;
  border: 1px solid #fff;
  transition: all .3s ease-in-out;
}

.btn_common:hover {
  box-shadow: 0 0 20px 2px #ffffffdc;
}

.nav_line {
  display: none;
}

.nav_link::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 2px;
  border-radius: 2px;
  width: 0;
  left: 50%;
  transition: all .3s linear;
  bottom: -6px;
}

.nav_link:hover::after {
  width: 100%;
  left: 0;
}

.py_header {
  padding-top: 50px;
}

.dash_img {
  margin-top: -86px;
  transform: translateY(123px);
}

.time_card {
  background-image: url('./assets/images/png/bgtimecard.png'), linear-gradient(rgb(211 211 211 / 48%) 0% 0%);
  padding: 16px !important;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9px;
  bottom: -8%;
  left: 0;
  animation: name 3000ms infinite ease-in-out;
}

.time_card2 {
  border-radius: 9.791px;
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(87, 71, 157, 0.10);
  padding: 27px 26px 27px 27px;
}

.ux_card {
  border-radius: 9.791px;
  background: #FFF;
  padding: 16.14px 15.83px;
  bottom: -16%;
  right: 14%;
  max-width: 150px;
  width: 100%;
  animation: name 3000ms infinite ease-in-out;
}

.br_flower {
  border-radius: 9.791px !important;
}

.link_circle {
  border-radius: 28.751px;
  border: 0.979px solid rgba(80, 62, 157, 0.50);
  box-shadow: 0px 9.791px 14.687px 0px rgba(0, 0, 0, 0.05);
  width: 28.703px;
  height: 28.703px;
}

.mw_25 {
  max-width: 25px !important;
}

.bg_notify {
  max-width: 160px !important;
  top: 14%;
  right: 0;
  background-color: #ffffff6e;
  backdrop-filter: blur(10px) !important;
  border-radius: 10px;
  animation: name 3000ms infinite ease-in-out;
}

/* ----------------help--------------- */
.mw_500 {
  max-width: 500px !important;
}

.py_help {
  margin-top: 130px;
  padding-top: 50px;
  padding-bottom: 65px;
}

.help_whcard {
  border-radius: 15px;
  background: #FFF;
  padding: 25px 18px 30px 18px;
  box-shadow: 0px 20px 50px 0px rgba(59, 62, 67, 0.05);
  cursor: pointer;
  transition: all .3s ease-in-out !important;
}

.help_whcard:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px 2px #241f1f1c;
}

.mw_761 {
  max-width: 700px !important;
}

.quad_circle {
  top: 52px;
}

.bluetriangle {
  top: 32%;
  max-width: 453px !important;
}

/* ---------------Process--------------- */
.bg_process {
  background-image: url('./assets/images/png/process-bg.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.dash_line::after {
  content: "";
  position: absolute;
  border-radius: 1;
  border-style: dashed;
  border-color: #ffffff;
  border-width: 2px;
  height: 50%;
  left: 49%;
  top: 23%;
}

.mw_710 {
  max-width: 710px;
}

.process_card {
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 20px 50px 0px rgba(59, 62, 67, 0.05);
  padding-top: 25px;
  padding-bottom: 25px;
}

/* --------------Brands------------ */
.py_brand {
  padding-top: 60px;
  padding-bottom: 60px;
}

.mw_897 {
  max-width: 897px;
}

.mw_143 {
  max-width: 143.673px;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.mw_381 {
  max-width: 381px !important;
}

/* --------------start--------------- */
.bg-start {
  background-image: url('./assets/images/png/bg-start.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* --------------footer------------- */
.mw_176 {
  max-width: 176px !important;
}

.border_footer {
  border: 1px solid #FFF;
  opacity: 0.35;
}

.py_footer {
  padding-top: 60px;
  padding-bottom: 32px;
}

.footer_icon {
  transition: all .3s linear !important;
}

.footer_icon:hover svg path {
  fill-opacity: 1 !important;
}

.footer_icon:hover {
  transform: translateY(-6px);
}

.foot_link {
  transition: all .3s linear !important;
}

.foot_link:hover {
  color: white !important;
}

/* -------------preloader----------- */

.mw_preloader {
  max-width: 150px !important;
}

.bg_loader {
  background: linear-gradient(250deg, #35D3FF -0.64%, #A963FB 103.6%);
}

/* -------back-to-top------------ */
.back_to_top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  cursor: pointer;
  width: 62px;
  height: 62px;
  border-radius: 55px;
  animation: name 2500ms infinite ease-in-out;
}

@keyframes name {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* --------------scroll-bar----------------- */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(250deg, #35D3FF -0.64%, #A963FB 103.6%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(250deg, #35D3FF -0.64%, #A963FB 103.6%);
}

@media (min-width:576px) {
  .btn_common {
    padding: 20px 50px;
  }

  .dash_img {
    margin-top: -86px;
    transform: translateY(157px);
  }

  .bg-start {
    padding-top: 75px;
    padding-bottom: 90px;
  }

  .py_brand {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .py_help {
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 90px;
  }

  .bg_process {
    padding-top: 85px;
    padding-bottom: 90px;
  }

  .help_whcard {
    padding: 35px 18px 40px 25px;
  }
}

@media (min-width:768px) {
  .help_whcard {
    padding: 50px 23px 0 41px;
    min-height: 360px !important;
  }

  .mw_logo {
    max-width: 259px !important;
  }

  .py_help {
    margin-top: 270px;
    padding-bottom: 100px;
  }
}

@media (min-width:992px) {
  .custom_container {
    max-width: 1180px !important;
  }

  .py_footer {
    padding-top: 80px;
    padding-bottom: 32px;
  }

  .mw_414 {
    max-width: 414px;
  }

  .py_brand {
    padding-top: 180px;
    padding-bottom: 180px;
  }

  .bg-start {
    padding-top: 150px;
    padding-bottom: 140px;
  }

  .bg_process {
    padding-top: 193px;
    padding-bottom: 183px;
  }

  .py_header {
    padding-top: 100px;
  }

  .py_help {
    margin-top: 380px;
    padding-bottom: 170px;
  }

  .bg_notify {
    max-width: 278px !important;
  }

  .help_whcard {
    padding: 50px 23px 0 41px;
    min-height: 335px !important;
  }

  .ux_card {
    max-width: 263px;
  }

  .mw_lg_1045 {
    max-width: 1030px !important;
  }
}

@media (max-width:1198.9px) {
  .nav_bar {
    flex-direction: column;
    position: fixed;
    min-height: 100vh;
    width: 100%;
    z-index: 4;
    left: 0;
    background-color: #57B3FE;
    transition: all .3s linear;
  }

  .op_0 {
    opacity: 0;
    bottom: -100%;
  }

  .op_1 {
    opacity: 1;
    bottom: 0;
  }

  .nav_line {
    width: 34px;
    height: 28px;
    display: flex;
    position: relative;
    z-index: 4;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav_line span {
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: white;
    transition: all .3s linear;
  }

  .cross .line1 {
    transform: rotate(50deg) translate(17px, 15px);
    width: 100% !important;
    left: 0 !important;
  }

  .cross .line2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .cross .line3 {
    transform: rotate(-50deg) translateY(-50%);
    width: 100% !important;
  }

  .overflow_hidden {
    overflow: hidden;
  }
}

/* -------font-family-------- */
.ff-dm {
  font-family: 'DM Sans', sans-serif !important;
}

/* ----------Line-Height---Letter-Spacing-------- */
.ff_nunito {
  font-family: 'Nunito', sans-serif;
}

.lh_100 {
  line-height: 100%;
}

.lh_136 {
  line-height: 136%;
}

.lh_148 {
  line-height: 148%;
}

.lh_120 {
  line-height: 120%;
}

.lh_170 {
  line-height: 170%;
}

.lh_180 {
  line-height: 180%;
}

.lh_122 {
  line-height: 122%;
}

.lh_150 {
  line-height: 150%;
}

.lh_166 {
  line-height: 166.667%;
}

.ls_28 {
  letter-spacing: 0.28px;
}

.ls_161 {
  letter-spacing: 0.161px;
}

.ls_18 {
  letter-spacing: 1.8px;
}

/* -----------Colour----------- */
.bg_whitef9 {
  background: #F9F8FF !important;
}

.text_blue {
  color: #57B3FE !important;
}

.text_pur_700 {
  color: #201950 !important;
}

.text_gray64 {
  color: #595E64 !important;
}

.text_gray {
  color: #8590B3 !important;
}

.text_black42 {
  color: #424A4D !important;
}

.text_blue3 {
  color: #334681 !important;
}

.text_orange {
  color: #FF5F58 !important;
}

.text_voilet68 {
  color: #6846AD;
}

.text_voilet99 {
  color: #6F6C99;
}

.text_black9 {
  color: #9A98B8 !important;
}

.text_black44 {
  color: #4C4C66 !important;
}

.text_blue3b {
  color: #3B3E43 !important;
}

.text_green77 {
  color: #00A077 !important;
}

.text_graylightrg {
  color: rgba(255, 255, 255, 0.80) !important;
}

.op_08 {
  opacity: 0.8;
}

.op_07 {
  opacity: 0.7;
}

/* -----------Font-Size----------- */
:root {
  --fs-sm: 7px;
  --fs-2sm: 8px;
  --fs-3sm: 9px;
  --fs-4sm: 10px;
  --fs-5sm: 11px;
  --fs-6sm: 12px;
  --fs-7sm: 14px;
  --fs-8sm: 15px;
  --fs-9sm: 16px;
  --fs-md: 20px;
  --fs-2md: 21px;
  --fs-3md: 22px;
  --fs-4md: 23px;
  --fs-lg: 48px;
  --fs-xl: 68px;
}

@media (max-width:576px) {
  :root {
    --fs-xl: 43px;
    --fs-lg: 30px;
  }
}

.fs_sm {
  font-size: var(--fs-sm) !important;
}

.fs_2sm {
  font-size: var(--fs-2sm) !important;
}

.fs_3sm {
  font-size: var(--fs-3sm) !important;
}

.fs_4sm {
  font-size: var(--fs-4sm) !important;
}

.fs_5sm {
  font-size: var(--fs-5sm) !important;
}

.fs_6sm {
  font-size: var(--fs-6sm) !important;
}

.fs_7sm {
  font-size: var(--fs-7sm) !important;
}

.fs_8sm {
  font-size: var(--fs-8sm) !important;
}

.fs_9sm {
  font-size: var(--fs-9sm) !important;
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_2md {
  font-size: var(--fs-2md);
}

.fs_3md {
  font-size: var(--fs-3md);
}

.fs_4md {
  font-size: var(--fs-4md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}